/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/inter-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-regular.woff2") format("woff2"), url("../fonts/inter-v12-latin-regular.woff") format("woff"), url("../fonts/inter-v12-latin-regular.ttf") format("truetype"), url("../fonts/inter-v12-latin-regular.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v12-latin-600.eot"); /* IE9 Compat Modes */
  src: url("../fonts/inter-v12-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-600.woff2") format("woff2"), url("../fonts/inter-v12-latin-600.woff") format("woff"), url("../fonts/inter-v12-latin-600.ttf") format("truetype"), url("../fonts/inter-v12-latin-600.svg#Inter") format("svg"); /* Legacy iOS */
}
/* sen-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sen-v7-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/sen-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sen-v7-latin-regular.woff2") format("woff2"), url("../fonts/sen-v7-latin-regular.woff") format("woff"), url("../fonts/sen-v7-latin-regular.ttf") format("truetype"), url("../fonts/sen-v7-latin-regular.svg#Sen") format("svg"); /* Legacy iOS */
}
/* sen-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/sen-v7-latin-700.eot"); /* IE9 Compat Modes */
  src: url("../fonts/sen-v7-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/sen-v7-latin-700.woff2") format("woff2"), url("../fonts/sen-v7-latin-700.woff") format("woff"), url("../fonts/sen-v7-latin-700.ttf") format("truetype"), url("../fonts/sen-v7-latin-700.svg#Sen") format("svg"); /* Legacy iOS */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Inter";
}

.container {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 20px;
}

.btn {
  max-width: 220px;
  padding: 10px 30px;
  background-color: #FFD050;
  border: 1px solid #FFD050;
}
.btn a {
  color: #232536;
  font-weight: 600;
}

nav {
  background-color: #232536;
  padding: 20px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.menu__card {
  display: flex;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
@media (max-width: 768px) {
  .menu__card {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media (max-width: 660px) {
  .menu__card {
    position: absolute;
    flex-direction: column;
    background-color: #232536;
    align-items: flex-start;
    row-gap: 35px;
    width: 60%;
    height: 50vh;
    top: 69px;
    transform: translateY(-150%);
    left: 0;
    padding: 40px 0 0 40px;
  }
}
.menu__card-box {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (max-width: 660px) {
  .menu__card-box {
    flex-direction: column;
    row-gap: 30px;
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .menu__card-box {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
.menu__card-box a {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  opacity: 0.8;
}
@media (max-width: 660px) {
  .menu__card-box a {
    font-size: 30px;
  }
}

.menu__box-btn {
  width: 150px;
  height: 50px;
  background-color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-family: "Sen";
}
.menu__box-btn a {
  color: #232536;
}

.ham_btn {
  display: none;
  background: transparent;
}
@media (max-width: 660px) {
  .ham_btn {
    display: block;
  }
}
.ham_btn img {
  width: 40px;
  height: 40px;
  color: white;
}

.active {
  transform: translateY(0);
}

.hero {
  max-width: 1440px;
  height: 720px;
  margin: auto;
  background-position: center;
  background-image: url(../images/hero.png);
  background-repeat: no-repeat;
  padding: 100px 0 0 0;
}
@media (max-width: 660px) {
  .hero {
    text-align: center;
    padding: 70px 0 0 0;
  }
}
.hero .span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
}
.hero .spann {
  font-weight: 600;
}
.hero h1 {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  max-width: 800px;
  color: #fff;
  letter-spacing: -2px;
  padding: 24px 0;
}
@media (max-width: 660px) {
  .hero h1 {
    font-size: 40px;
  }
}
.hero p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}
.hero .span1 {
  color: #FFD050;
}
.hero .hero-text {
  max-width: 700px;
  padding: 16px 0 48px 0;
}

.blog h2 {
  font-family: "Sen";
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  padding: 94px 0 64px 0;
}
.blog .blogs__card {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1120px) {
  .blog .blogs__card {
    flex-direction: column;
    row-gap: 20px;
  }
}
.blog .blogs__cards-box {
  padding: 0 15px 0 0;
  max-width: 410px;
}
@media (max-width: 1120px) {
  .blog .blogs__cards-box {
    display: flex;
    align-items: center;
    max-width: 100%;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media (max-width: 820px) {
  .blog .blogs__cards-box {
    flex-direction: column;
    align-items: flex-start;
  }
}
.blog span {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4C4C4C;
  padding: 32px 0 16px 0;
}
@media (max-width: 1120px) {
  .blog span {
    padding: 0 0 10px 0;
  }
}
@media (max-width: 820px) {
  .blog span {
    padding: 20px 0 10px 0;
  }
}
.blog h4 {
  font-family: "Sen";
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #232536;
  padding-bottom: 20px;
}
.blog p {
  font-size: 16px;
  line-height: 28px;
  color: #232536;
  opacity: 0.7;
}
.blog .hr {
  margin: 66px 0;
}
.blog img {
  max-width: 350px;
}
@media (max-width: 1120px) {
  .blog img {
    max-width: 450px;
  }
}
@media (max-width: 820px) {
  .blog img {
    max-width: 350px;
  }
}

.search__box {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 20px 0;
  gap: 50px;
}
@media (max-width: 768px) {
  .search__box {
    flex-direction: column;
  }
}
.search__box img {
  width: 350px;
}

.catagory h2 {
  font-family: "Sen";
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #232536;
  text-align: center;
  margin-bottom: 70px;
}

.catagory__card {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.catagory__card-box {
  width: 290px;
  height: 220px;
  border: 1px solid #232536;
  border-radius: 3px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  transition: 0.8s;
}
.catagory__card .icon__card {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  height: 50px;
  border: none;
  background-color: #E5E5E5;
}

.catagory__card-box:hover {
  background-color: #FFD050;
  border: 1px solid #FFD050;
}

.footer {
  background: #232536;
  padding: 50px 0;
}
.footer__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  .footer__card {
    flex-direction: column;
    row-gap: 30px;
    align-items: flex-start;
  }
}
.footer__box {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.footer__box p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.7;
}

.hero1__img {
  margin: 50px 0;
  max-width: 1280px;
  height: 582px;
  background-image: url("../images/photo11.jpg");
  background-repeat: no-repeat;
  background-position: right;
}

.register {
  margin: 100px 0;
}
.register h2 {
  font-family: "Sen";
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -2px;
  color: #232536;
  margin-bottom: 60px;
}
.register .form__register {
  width: 769px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
@media (max-width: 820px) {
  .register .form__register {
    width: 540px;
  }
}
@media (max-width: 576px) {
  .register .form__register {
    width: 330px;
  }
}
.register .form__register input {
  padding: 18px;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
  border: 1px solid rgba(109, 110, 118, 0.5);
  border-radius: 2px;
}
.register__btn {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #232536;
  background: #FFD050;
  border: 1px solid #FFD050;
  padding: 18px;
  transition: 1s;
}

.register__btn:hover {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);
}

.active1 {
  border: 1px solid red;
}

.blogs__form {
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 10px;
}
.blogs input,
.blogs button {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

.startup {
  padding: 50px;
  text-align: center;
}
.startup__card {
  text-align: center;
}
.startup h2 {
  font-family: "Sen";
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  color: #232536;
}
.startup p {
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
  max-width: 515px;
  margin: 0 auto;
  padding: 16px 0;
}
.startup span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #232536;
}

.search {
  background-color: #fff;
  padding: 100px 0;
}
.search .form__search {
  width: 100%;
  padding: 10px;
}

.about1 {
  margin: 40px auto;
  padding: 80px 70px;
  display: flex;
  justify-content: space-between;
  background-color: #E5E5E5;
}
@media (max-width: 768px) {
  .about1 {
    flex-direction: column;
    row-gap: 60px;
  }
}
.about1__cards {
  max-width: 515px;
}
.about1 span {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #232536;
}
.about1 h3 {
  font-family: "Sen";
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #232536;
  padding: 24px 0 16px 0;
}
.about1 p {
  font-size: 16px;
  line-height: 28px;
  color: #6D6E76;
}

.team1__card1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin: 40px 0;
}
@media (max-width: 820px) {
  .team1__card1 {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
.team1__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 820px) {
  .team1__card {
    flex-direction: column;
    align-items: flex-start;
  }
}
.team1 h3 {
  font-family: "Sen";
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #232536;
}
.team1 span {
  font-family: "Sen";
  font-weight: 700;
  display: inline-block;
  font-size: 24px;
  line-height: 32px;
  color: #232536;
  padding: 16px 0;
}
.team1 p {
  font-size: 16px;
  line-height: 28px;
  color: #232536;
}
.team1 img {
  max-width: 624px;
}
@media (max-width: 1120px) {
  .team1 img {
    max-width: 500px;
  }
}
@media (max-width: 576px) {
  .team1 img {
    width: 350px;
  }
}/*# sourceMappingURL=main.css.map */