nav {
    background-color: $nav-bg;
    padding: 20px 0;
}
.menu {
    display: flex;
    justify-content: space-between;

    &__card{
        display: flex;
        column-gap: 80px;

        @include tablet {
            column-gap: 40px;
        }

        @include min-tablet {
            position: absolute;
            flex-direction: column;
            background-color: $nav-bg;
            align-items: flex-start;
            row-gap: 35px;
            width: 60%;
            height: 50vh;
            top: 69px;
            transform: translateY(-150%);
            left: 0;
            padding: 40px 0 0 40px;
        }

        
    }

    &__card-box {
        display: flex;
        align-items: center;
        column-gap: 24px;

        @include min-tablet {
            flex-direction: column;
            row-gap: 30px;
            align-items: flex-start;
        }

        @include tablet {
            column-gap: 15px;
        }

        a {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #fff;
            opacity: .8;

            @include min-tablet {
                font-size: 30px;
            }
        }

        
    }



    
}

.menu__box-btn {
    width: 150px;
    height: 50px;
    background-color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Sen';

    a {
        color: $nav-bg;
    }
}

.ham_btn {
    display: none;
    background: transparent;

    @include min-tablet {
        display: block;
    }

    img {
        width: 40px;
        height: 40px;
        color: white;
    }
}

.active {
    transform: translateY(0);
}


.hero {
    max-width: 1440px;
    height: 720px;
    margin: auto;
    background-position: center;
    background-image: url(../../images/hero.png);
    background-repeat: no-repeat;
    padding: 100px 0 0 0;

    @include min-tablet {
        text-align: center;
        padding: 70px 0 0 0;
    }

    .span {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #fff;
    }

    .spann {
        font-weight: 600;
    }

    h1 {
        font-family: 'Sen';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 64px;
        max-width: 800px;
        color: #fff;
        letter-spacing: -2px;
        padding: 24px 0;

        @include min-tablet {
            font-size: 40px;
        }
    }
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #FFFFFF;
    }

    .span1 {
        color: $button-bg;
    }

    .hero-text {
        max-width: 700px;
        padding: 16px 0 48px 0;
    }


}