.hero1__img {
    margin: 50px 0;
    max-width: 1280px;
    height: 582px;
    background-image: url('../images/photo11.jpg');
    background-repeat: no-repeat;
    background-position: right;
}

.register {
    margin: 100px 0;

    h2 {
        font-family: 'Sen';
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        letter-spacing: -2px;
        color: #232536;
        margin-bottom: 60px;
    }

    .form__register {
        width: 769px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        @include large-min-tablet {
            width: 540px;
        }
        @include phone {
            width: 330px;
        }

        input {
            padding: 18px;
            font-size: 16px;
            line-height: 28px;
            color: #232536;
            border: 1px solid rgba(109, 110, 118, 0.5);
            border-radius: 2px;
        }


    }

    &__btn {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #232536;
        background: $button-bg;
        border: 1px solid $button-bg;
        padding: 18px;
        transition: 1s;
    }
}

.register__btn:hover {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.active1 {
    border: 1px solid red;
}